@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-transform: capitalize;
  outline: none;
  border: none;
  box-sizing: border-box;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
}
html::-webkit-scrollbar {
  width: 1rem;
}
html::-webkit-scrollbar-track {
  background: transparent;
}
html::-webkit-scrollbar-thumb {
  background: #6E8A3C;
  border-radius: 5rem;
}

section {
  padding: 2rem 9%;
  padding-top: 5rem;
}

body {
  background: #f6f7fb;
}

.btn {
  padding: 0.7rem 2rem;
  font-size: 1.7rem;
  background: #666;
  color: #fff;
  cursor: pointer;
  margin-top: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 5rem;
}
.btn:hover {
  background: #444;
  letter-spacing: 0.1rem;
}

.btn-quick {
  padding: 0.3rem 1.5rem;
  font-size: 1.5rem;
  background: #fea01c;
  color: #fff;
  cursor: pointer;
  margin-top: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 5rem;
  text-transform: none;
}
.btn-quick:hover {
  background: #444;
  letter-spacing: 0.1rem;
  color: #fff;
}

.heading {
  text-align: center;
  margin-bottom: 5rem;
  position: relative;
}
.heading::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: scaleY(-50%);
  height: 0.1rem;
  width: 100%;
  background: #aaa;
  z-index: -1;
}
.heading span {
  color: #fff;
  font-size: 2rem;
  font-weight: 400;
  background: #6E8A3C;
  padding: 0.3rem 5.5rem;
  border: 0.1rem solid #aaa;
  border-radius: 5rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 9%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  background: #fff;
}
.header #menu-btn {
  display: none;
}
.header .logo {
  width: 11rem;
  height: 4rem;
  cursor: pointer;
}
.header .logo img {
  width: 100%;
  height: 3rem;
}
.header .navbar a {
  font-size: 1.7rem;
  margin-left: 1.5rem;
  color: #333;
}
.header .navbar a:hover {
  color: #4e7013;
}
.header .icons div,
.header .icons a {
  font-size: 2.5rem;
  color: #2c2c54;
  margin-left: 1.5rem;
}
.header .icons div:hover,
.header .icons a:hover {
  color: #ff9f1a;
}
.header .icons:hover {
  cursor: pointer;
}
.header .search-form {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.4);
  visibility: hidden;
  opacity: 0;
}
.header .search-form.active {
  visibility: visible;
  opacity: 1;
}
.header .search-form #close-search {
  position: absolute;
  top: 1.5rem;
  right: 2.5rem;
  cursor: pointer;
  color: #fff;
  font-size: 4rem;
}
.header .search-form #close-search:hover {
  color: #319736;
  cursor: pointer;
}
.header .search-form form {
  width: 70rem;
  margin: 0 2rem;
  padding-bottom: 2rem;
  border-bottom: 0.2rem solid #fff;
  display: flex;
  align-items: center;
}
.header .search-form form input {
  width: 100%;
  font-size: 2rem;
  color: #fff;
  text-transform: none;
  background: none;
  padding-right: 2rem;
}
.header .search-form form input::-webkit-input-placeholder {
  color: #aaa;
}
.header .search-form form input::-ms-input-placeholder {
  color: #aaa;
}
.header .search-form form label {
  font-size: 3rem;
  cursor: pointer;
  color: #fff;
}
.header .search-form form label:hover {
  color: #219150;
}

.home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: url(../img/home-bg.jpg) no-repeat;
  background-size: cover;
  background-position: right;
  min-height: 100vh;
}
.home .content {
  padding-left: 10rem;
  width: 75rem;
}
.home .content h3 {
  text-shadow: 0 0.5rem 1rem rgba(138, 138, 138, 0.3);
  font-family: cursive;
  font-weight: bolder;
  font-size: 4.5rem;
  color: #7cb815;
}
.home .content p {
  font-size: 1.4rem;
  color: #7c798c;
  line-height: 1.3334;
  display: block;
  margin: 1rem 0;
}

.delivery {
  text-align: center;
}
.delivery .slide {
  display: flex;
  padding-top: 3rem;
}
.delivery .slide .box {
  margin: auto;
}
.delivery .slide .box i {
  color: #666;
  padding: 2rem;
  font-size: 3rem;
}
.delivery .slide .box h3 {
  text-transform: none;
  font-size: 1.7rem;
}

.fruits .row,
.vegetables .row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
}
.fruits .row .image img,
.vegetables .row .image img {
  width: 100%;
}
.fruits .row .products-container .product,
.vegetables .row .products-container .product {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.13);
  height: 90%;
  text-align: center;
  border-radius: 1rem;
  position: relative;
  border-radius: 0.7rem;
  overflow: hidden;
  justify-content: center;
  width: 100%;
  border: 0.1rem solid rgba(138, 138, 138, 0.2);
  background: #fff;
}
.fruits .row .products-container .product img,
.vegetables .row .products-container .product img {
  object-fit: cover;
}
.fruits .row .products-container .product .list-model,
.vegetables .row .products-container .product .list-model {
  position: absolute;
  left: 0;
  top: -100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(138, 138, 138, 0.3);
}
.fruits .row .products-container .product:hover .list-model,
.vegetables .row .products-container .product:hover .list-model {
  cursor: pointer;
  top: 0;
}
.fruits .row .products-container .product h3,
.vegetables .row .products-container .product h3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  padding-top: 0.5rem;
  font-size: 1.5rem;
  font-family: cursive;
  color: #4e7013;
}
.fruits .row .products-container .product .price,
.vegetables .row .products-container .product .price {
  display: block;
  margin-top: 1.2rem;
  color: #fea01c;
  font-size: 1.6rem;
  line-height: 2;
  align-items: center;
}
.fruits .row .products-container .product .price .price-old,
.vegetables .row .products-container .product .price .price-old {
  padding-left: 0.5rem;
  color: #333;
  font-size: 1.3rem;
  text-decoration: line-through;
}

.products-preview {
  z-index: 999999 !important;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  align-items: center;
  justify-content: center;
}
.products-preview .preview {
  display: none;
  padding: 2rem;
  text-align: center;
  background: #fff;
  position: relative;
  margin-top: 8rem;
  width: 40rem;
  border-radius: 1rem;
  animation: fadeDown ease 0.3s;
}
.products-preview .preview img {
  max-width: 100%;
  height: 23rem;
}
.products-preview .preview.active {
  display: inline-block;
}
.products-preview .preview .fa-times {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  cursor: pointer;
  color: #444;
  font-size: 2.3rem;
}
.products-preview .preview .fa-times.hover {
  transform: rotate(90deg);
}
.products-preview .preview h3 {
  font-family: cursive;
  color: #444;
  padding: 0.5rem 0;
  font-size: 2.5rem;
}
.products-preview .preview .starts {
  padding: 1rem 0;
  font-size: 1.7rem;
}
.products-preview .preview .starts span {
  color: #999;
}
.products-preview .preview i {
  color: #fea01c;
}
.products-preview .preview p {
  line-height: 1.5;
  padding: 1rem 0 0;
  font-size: 1.4rem;
  color: #777;
  text-transform: none;
}
.products-preview .preview .price-new {
  padding: 1rem 0 0.5rem;
  font-size: 2.5rem;
  color: #27ae60;
}
.products-preview .preview .price-new .price-old {
  margin-left: 1rem;
  font-size: 1.7rem;
  color: #333;
  text-decoration: line-through;
}
.products-preview .preview .buttons {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  margin-top: 0.6rem;
}
.products-preview .preview .buttons a {
  flex: 1 1 16rem;
  padding: 1rem;
  font-size: 1.8rem;
  color: #444;
  border: 0.1rem solid #444;
}
.products-preview .preview .buttons a.cart {
  background: #444;
  color: #fff;
}
.products-preview .preview .buttons a.cart:hover {
  border-radius: 1rem;
  background: #111;
}
.products-preview .preview .buttons a.buy:hover {
  border-radius: 1rem;
  background: #319736;
  color: #fff;
  border: none;
}

@keyframes fadeDown {
  from {
    transform: translateY(-15rem);
  }
  to {
    transform: translateY(0);
  }
}
.contacts .row {
  display: flex;
  flex-wrap: wrap;
  border-radius: 2rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  overflow: hidden;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
.contacts .row .image {
  flex: 1 1 40rem;
}
.contacts .row .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.contacts .row form {
  flex: 1 1 40rem;
  padding: 2rem 4rem;
}
.contacts .row form .inputBox {
  padding: 1rem 0;
}
.contacts .row form .inputBox h3 {
  color: #319736;
  padding: 0.5rem 0;
  font-size: 2rem;
  font-weight: 500;
  text-transform: none;
}
.contacts .row form .inputBox input {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 5rem;
}
.contacts .row form .inputBox textarea {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
}

@media (max-width: 1070px) {
  .header {
    padding: 3rem 2rem;
  }
  .header .logo {
    margin-bottom: 0.5rem;
  }
  .header .search-form .account-2 {
    display: flex;
  }
  .header .search-form .icons {
    display: flex;
  }
  .header .navbar {
    display: none;
  }

  .login-account2 .box-container2 {
    width: 90%;
  }

  .home {
    text-align: center;
    text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.8);
  }
  .home .content {
    padding: 0;
  }
  .home .content h3 {
    font-family: cursive;
    font-weight: bolder;
    font-size: 4.5rem;
    color: #fff;
  }
  .home .content p {
    display: none;
  }
}
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 1.5rem 3rem;
  }

  .section {
    padding: 3rem 2rem;
  }
}
@media (max-width: 768px) {
  .products-preview .preview h3 {
    font-family: "Courier New", Courier, monospace;
    color: #444;
    padding: 0.5rem 0;
    font-size: 2.5rem;
  }
  .products-preview .preview img {
    height: 20rem;
  }
}
@media (max-width: 414px) {
  .delivery .slide .box i {
    color: #666;
    padding: 2rem;
    font-size: 3rem;
  }
  .delivery .slide .box h3 {
    text-transform: none;
    font-size: 1.4rem;
  }
}
@media (max-width: 375px) {
  .fruits .products-container .product .price,
.vegetables .products-container .product .price {
    display: block;
    color: #fea01c;
    font-size: 1.4rem;
    line-height: 2;
    align-items: center;
  }
  .fruits .products-container .product .price .price-old,
.vegetables .products-container .product .price .price-old {
    color: #333;
    font-size: 1.3rem;
    text-decoration: line-through;
  }
}

/*# sourceMappingURL=style.css.map */
