.login-account {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: hidden;
  opacity: 0;
  z-index: 1 !important;
}

.login-account.active {
  visibility: visible;
  opacity: 1;
  -webkit-animation: fadeDown ease .3s;
          animation: fadeDown ease .3s;
}

.login-account .box-container {
  position: absolute;
  top: 12%;
  right: 1%;
  bottom: 30%;
  margin: auto;
  width: 35rem;
  height: 30rem;
  background: white;
  border-radius: 1rem;
  text-align: center;
}

.login-account .box-container .icon-btn {
  cursor: pointer;
  position: absolute;
  top: .5rem;
  right: 1rem;
  font-size: 2rem;
  color: #333;
  padding: 1.5rem;
  z-index: 1;
}

.login-account .box-container .text {
  text-transform: uppercase;
  font-size: 2.2rem;
  padding-top: 3rem;
  color: #333;
  position: relative;
}

.login-account .box-container .text::before {
  content: "";
  position: absolute;
  bottom: 5rem;
  left: 6rem;
  height: 3rem;
  width: 4rem;
  background: #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.login-account .box-container .panel-body {
  margin-top: 2rem;
  padding: 0 1rem;
}

.login-account .box-container .panel-body .form-group {
  border: .1rem solid #aaa;
  width: 100%;
  padding: 1.3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5rem;
  font-size: 1.3rem;
}

.login-account .box-container .panel-body .form-group i {
  padding-left: 1.5rem;
  font-size: 1.7rem;
}

.login-account .box-container .panel-body .form-group .form-control {
  width: 100%;
  margin: 0 1.5rem;
}

.login-account .box-container .pding-top {
  border: .1rem solid #aaa;
  margin-top: 2rem;
  width: 100%;
  padding: 1.3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5rem;
  font-size: 1.3rem;
}

.login-account .box-container .pding-top i {
  padding-left: 1.5rem;
  font-size: 1.7rem;
}

.login-account .box-container .pding-top .form-control {
  width: 100%;
  margin: 0 1.5rem;
}

.login-account .box-container .submit .primary-key {
  font-size: 1.5rem;
  margin-top: 3rem;
  padding: 1rem 2.5rem;
  border-radius: 5rem;
  cursor: pointer;
  background: #6E8A3C;
  color: #fff;
}

.login-account .box-container .submit .primary-key:hover {
  letter-spacing: 0.2rem;
}

.login-account2 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: hidden;
  opacity: 0;
  z-index: 1 !important;
}

.login-account2.active {
  visibility: visible;
  -webkit-animation: fadeDown ease .3s;
          animation: fadeDown ease .3s;
  opacity: 1;
}

.login-account2 .box-container2 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 70rem;
  height: 30rem;
  background: rgba(138, 138, 138, 0.2);
  text-align: center;
  border-radius: 1rem;
}

.login-account2 .box-container2 .icon-btn2 {
  cursor: pointer;
  position: absolute;
  top: .5rem;
  right: 1rem;
  font-size: 2rem;
  color: #fff;
  padding: 1.5rem;
  z-index: 1;
}

.login-account2 .box-container2 .text {
  text-transform: uppercase;
  font-size: 2.2rem;
  padding-top: 3rem;
  color: #fff;
  position: relative;
}

.login-account2 .box-container2 .panel-body2 {
  margin-top: 2rem;
  padding: 0 1rem;
}

.login-account2 .box-container2 .panel-body2 .form-group2 {
  border: .1rem solid #aaa;
  width: 100%;
  padding: 1.3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5rem;
  font-size: 1.3rem;
}

.login-account2 .box-container2 .panel-body2 .form-group2 i {
  padding-left: 1.5rem;
  font-size: 1.7rem;
}

.login-account2 .box-container2 .panel-body2 .form-group2 .form-control2 {
  width: 100%;
  margin: 0 1.5rem;
}

.login-account2 .box-container2 .pding-top2 {
  border: .1rem solid #aaa;
  margin-top: 2rem;
  width: 100%;
  padding: 1.3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5rem;
  font-size: 1.3rem;
}

.login-account2 .box-container2 .pding-top2 i {
  padding-left: 1.5rem;
  font-size: 1.7rem;
}

.login-account2 .box-container2 .pding-top2 .form-control2 {
  width: 100%;
  margin: 0 1.5rem;
}

.login-account2 .box-container2 .submit2 .primary-key2 {
  font-size: 1.5rem;
  margin-top: 3rem;
  padding: 1rem 2.5rem;
  border-radius: 5rem;
  cursor: pointer;
  background: #6E8A3C;
  color: #fff;
}

.login-account2 .box-container2 .submit2 .primary-key2:hover {
  letter-spacing: 0.2rem;
}

@media (max-width: 80rem) {
  .search-form {
    width: 90%;
  }
  .search-form input {
    width: 100%;
  }
  .search-form .account-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .search-form .icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar {
    display: none;
  }
  .login-account2 .box-container2 {
    width: 90%;
  }
}
/*# sourceMappingURL=style-login.css.map */