@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap");

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-transform: capitalize;
    outline: none;
    border: none;
    box-sizing: border-box;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
    scroll-padding-top: 7rem;

    &::-webkit-scrollbar{
        width: 1rem;
        
    }
      
    &::-webkit-scrollbar-track {
        background: transparent;
    }
    
    &::-webkit-scrollbar-thumb {
        background: #6E8A3C;
        border-radius: 5rem;
    }
}

section{
    padding:2rem 9%;
    padding-top: 5rem;
}

body{
    background: #f6f7fb;
}

.btn{
    padding:.7rem 2rem;
    font-size: 1.7rem;
    background:#666;
    color:#fff;
    cursor: pointer;
    margin-top: 1rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border-radius: 5rem;

    &:hover{
        background:#444;
        letter-spacing: .1rem;
    }
}

.btn-quick{
    padding:.3rem 1.5rem;
    font-size: 1.5rem;
    background:#fea01c;
    color:#fff;
    cursor: pointer;
    margin-top: 1rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border-radius: 5rem;
    text-transform: none;

    &:hover{
        background:#444;
        letter-spacing: .1rem;
        color: #fff;
    }
}

.heading {
    text-align: center;
    margin-bottom: 5rem;
    position: relative;

    &::before{
        content:'';
        position: absolute;
        top: 50%;
        left: 0;
        transform: scaleY(-50%);
        height: .1rem;
        width: 100%;
        background: #aaa;
        z-index: -1;
    }

    span{
        color: #fff;
        font-size: 2rem;
        font-weight: 400;
        background: #6E8A3C;
        padding: .3rem 5.5rem;
        border: 0.1rem solid #aaa;
        border-radius: 5rem;
    }

}

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    background: #fff;

    #menu-btn{
        display: none;
    }

    .logo{
        width: 11rem;
        height: 4rem;
        cursor: pointer;

        img{
            width: 100%;
            height: 3rem;
        }
    }

    .navbar{

        a{
            text-transform: none;
            font-size: 1.7rem;
            margin-left: 1.5rem;
            color: #333;

            &:hover{
                color: #4e7013;
            }
        }
    }

    .icons{

        div,
        a{
            font-size: 2.5rem;
            color: #2c2c54;
            margin-left: 1.5rem;

            &:hover{
                color: #ff9f1a;
            }
        }

        &:hover{
            cursor: pointer;
        }
    }

    .search-form{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        background: rgba(0,0,0,.8);
        visibility: hidden;
        opacity: 0;
    
        &.active{
            visibility: visible;
            opacity: 1;
        }
    
        #close-search{
            position: absolute;
            top: 1.5rem;
            right: 2.5rem;
            cursor: pointer;
            color: #fff;
            font-size: 3rem;
    
            &:hover{
                color: #319736;
                cursor: pointer;
            }
        }
        
        .absolute-box{
            position: absolute;
            top: 10%;
            left: 10%;
            right: 10%;
            bottom: 0;
            input{
                width: 80%;
                margin: 0 2rem;
                padding-bottom: 1rem;
                border-bottom: 0.2rem solid #fff;
                display: flex;
                align-items: center;
                width: 100%;
                font-size: 1.7rem;
                color: #fff;
                text-transform: none;
                background: none;
                padding-right: 2rem;
    
                &::-webkit-input-placeholder{
                    color: #bbb;
                }
    
                &::-ms-input-placeholder {
                    color: #bbb;
                }
            }
    
    
            .search-container{
              
                padding-top: 1rem;
                width: 100%;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                gap:20px;
                padding-top: 3rem;
    
                .box{
                    padding:1.5rem;
                    margin-bottom: 3rem;
                    background-color: #333;
                    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
                    border:.2rem solid #fff;
                    width: 35rem;
                    border-radius: .5rem;
                    animation: fadeIn .2s linear;
                    display: none;
                    
                    img{
                        height: 25rem;
                        width: 100%;
                        object-fit: cover;
                        margin-bottom: 1rem;
                        border-radius: .5rem;
                    }
    
                    h3{
                        font-size: 2rem;
                        color: #fff;
                    }
                }
            }
        }
    }
}
@keyframes fadeIn {
  0%{
    transform: scale(.5) translateY(-10px);
    opacity: 0;
  }
}



.home{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:url(../img/home-bg.jpg) no-repeat;
    background-size: cover;
    background-position: right;
    min-height: 100vh;
    

    .content{
        padding-left: 10rem;
        width:75rem;

        h3{
            text-shadow: 0 .5rem 1rem rgba(138, 138, 138, 0.3);
            font-family:cursive;
            font-weight: bolder;
            font-size: 4.5rem;
            color: #7cb815;
        }

        p{
            font-size: 1.4rem;
            color: #7c798c;
            line-height: 1.3334;
            display: block;
            margin: 1rem 0;
        }
    }
}


// delivery
.delivery{
    text-align: center;

    .slide{
        display: flex;
        padding-top: 3rem;

        .box{
            margin: auto;

            i{
                color: #666;
                padding: 2rem;
                font-size: 3rem;
            }

            h3{
                text-transform: none;
                font-size: 1.7rem;
            }
        }
    }
}


.fruits,
.vegetables{

    .row{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        gap: 1.5rem;
        align-items: center;
        justify-content: center;

        .image{

            img{
                width: 100%;
            }
        }

        .products-container{

            .product{
                box-shadow: 0 .5rem 1rem rgba(0,0,0, .13);
                height: 90%;
                text-align: center;
                border-radius: 1rem;
                position: relative;
                border-radius: .7rem;
                overflow: hidden;
                justify-content: center;
                width: 100%;
                border: .1rem solid rgba(138,138,138, .2);
                background: #fff;

                img{
                    object-fit: cover;
                }

                .list-model{
                    position: absolute;
                    left: 0;
                    top: -100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    background: rgba(138, 138, 138, 0.3);
                }

                &:hover .list-model{
                    cursor: pointer;
                    top: 0;
                }

                h3{
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 1;
                    padding-top: .5rem;
                    font-size: 1.5rem;
                    font-family:cursive;
                    color: #4e7013;
                }

                .price{
                    display: block;
                    margin-top: 1.2rem;
                    color: #fea01c;
                    font-size: 1.6rem;
                    line-height: 2;
                    align-items: center;

                    .price-old{
                        padding-left: .5rem;
                        color: #333;
                        font-size: 1.3rem;
                        text-decoration: line-through;
                    }
                }

            }
        }
    }
}


// view model
.products-preview{
    z-index: 999999 !important;
   position: fixed;
   top:0; left:0;
   min-height: 100vh;
   width: 100%;
   background: rgba(0,0,0,.8);
   display: none;
   align-items: center;
   justify-content: center;

//    &.active{
//        display: flex;
//    }

   .preview{
        display: none;
        padding:2rem;
        text-align: center;
        background: #fff;
        position: relative;
        margin-top: 8rem;
        width: 40rem;
        border-radius: 1rem;
        animation: fadeDown ease .3s;

        img{
            max-width: 100%;
            height: 23rem;
        }

        &.active{
            display: inline-block;
        }

        .fa-times{
            position: absolute;
            top:1rem; right:1.5rem;
            cursor: pointer;
            color:#444;
            font-size: 2.3rem;

            &.hover{
                transform: rotate(90deg);
            }
        }

        h3{
            font-family:cursive;
            color:#444;
            padding:.5rem 0;
            font-size: 2.5rem;
        }

        .starts{
            padding:1rem 0;
            font-size: 1.7rem;

            span{
                color:#999;
            }
        }

        i{
            color:#fea01c;
        }

        p{
            line-height: 1.5;
            padding:1rem 0 0;
            font-size: 1.4rem;
            color:#777;
            text-transform: none;
        }

        .price-new{
            padding:1rem 0 .5rem;
            font-size: 2.5rem;
            color:#27ae60;

            .price-old{
                margin-left: 1rem;
                font-size: 1.7rem;
                color: #333;
                text-decoration: line-through;
            }
        }

        .buttons{
            display: flex;
            gap:1.5rem;
            flex-wrap: wrap;
            margin-top: .6rem;

            a{
                flex:1 1 16rem;
                padding:1rem;
                font-size: 1.8rem;
                color:#444;
                border:.1rem solid #444;

                &.cart{
                    background: #444;
                    color:#fff;

                    &:hover{
                        border-radius: 1rem;
                        background: #111;
                    }
                }

                &.buy:hover{
                    border-radius: 1rem;
                    background: #319736;
                    color:#fff;
                    border: none;
                }
            }
        }
    }
}



@keyframes fadeDown {
    from{
        transform: translateY(-15rem);
    }
    to{
        transform: translateY(0);
    }
}

// contact
.contacts{

    .row{
        display: flex;
        flex-wrap: wrap;
        border-radius: 2rem;
        border: .1rem solid rgba(0, 0, 0, 0.1);
        overflow: hidden;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);

        .image{
            flex:  1 1 40rem;

            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        form{
            flex: 1 1 40rem;
            padding: 2rem 4rem;

            .inputBox{
                padding: 1rem 0;

                h3{
                    color: #319736;
                    padding:.5rem 0;
                    font-size: 2rem;
                    font-weight: 500;
                    text-transform:none;
                }

                input{
                    width: 100%;
                    padding:1.5rem;
                    font-size: 1.5rem;
                    border:.1rem solid rgba(0,0,0,.1);
                    border-radius: 5rem;
                }

                textarea{
                    width: 100%;
                    padding:1.5rem;
                    font-size: 1.5rem;
                    border:.1rem solid rgba(0,0,0,.1);
                }
            }
        }
    }
}



// responsive
@media (max-width:1070px){
    .header{   
        padding: 3rem 2rem;

        .logo {
            // max-width: 100%;
            margin-bottom: .5rem;
        }

        .search-form{
            width: 100%;

            input{
                width: 90%
            }

            .account-2{
                display: flex;
            }
            
            .icons{
                display: flex;
            }
        }

    }

    // account-login 2
    .login-account2{

        .box-container2{
            width: 90%;
            
        }
            
    }


    .home{
        text-align: center;
        text-shadow: 0 .5rem 1rem rgba(0, 0, 0, .8);
       .content{
        padding: 0;

            h3{
                font-family:cursive;
                font-weight: bolder;
                font-size: 4.5rem;
                color: #fff;
            }

            p{
                display: none;
            }
        }
    }
}

@media (max-width:991px){
    html{
        font-size: 55%;
    }

    .header {
        padding: 1.5rem 3rem;
    }

    .section{
        padding: 3rem 2rem;
    }

}

@media (max-width:768px){  
    .header{
        #menu-btn{
            display: inline-block;  
        }
        
        #menu-btn.fa-times{
            transform: rotate(180deg);
        }

        .navbar{
            position: absolute;
            top: 99%;
            left: 0;
            right: 0;
            background: #f2f2f2;
            border: .2rem 0 .2rem 0 #666;
            padding: 0 2rem;
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            box-shadow: 0 .5rem 1rem rgba(0,0,0,1);


            &.active{
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
                z-index: 999999999999;
                
            }

            a{
                display: block;
                font-size: 2rem;
                margin: 2.5rem 1rem;
            }
        }
    }

    .products-preview{
        
        .preview{

            h3{
                font-family:'Courier New', Courier, monospace;
                color:#444;
                padding:.5rem 0;
                font-size: 2.5rem;
            }

            img{
                height: 20rem;
            }
        }
    }
 
}


@media(max-width:414px){
    .delivery{
    
        .slide{
    
            .box{
    
                i{
                    color: #666;
                    padding: 2rem;
                    font-size: 3rem;
                }
    
                h3{
                    text-transform: none;
                    font-size: 1.4rem;
                }
            }
        }
    }
}

@media(max-width:375px){
    .fruits,
    .vegetables{

        .products-container{

            .product{

                .price{
                    display: block;
                    // padding-top: 1rem;
                    color: #fea01c;
                    font-size: 1.4rem;
                    line-height: 2;
                    align-items: center;

                    .price-old{
                        color: #333;
                        font-size: 1.3rem;
                        text-decoration: line-through;
                    }
                }
            }
        }
    }
}


