// Login > account 1

.login-account{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    // min-height: 100vh;
    display: flex;
    visibility: hidden;
    opacity: 0;
    z-index: 1 !important;

    &.active {
        visibility: visible;
        opacity: 1;
        animation: fadeDown ease .3s;
    }

    .box-container{
        position: absolute;
        top: 12%;
        right: 1%;
        bottom: 30%;
        margin: auto;
        width: 35rem;
        height: 30rem;
        background: rgba(255, 255, 255, 1);
        border-radius: 1rem;
        text-align: center;
        

        .icon-btn{
            cursor: pointer;
            position: absolute;
            top: .5rem;
            right: 1rem;
            font-size: 2rem;
            color: #333;
            padding: 1.5rem;
            z-index: 1;
        }

        .text{
            text-transform: uppercase;
            font-size: 2.2rem;
            padding-top: 3rem;
            color: #333;
            position: relative;

            &::before{
                content: "";
                position: absolute;
                bottom: 5rem;
                left: 6rem;
                height: 3rem;
                width: 4rem;
                background: #fff;
                transform: rotate(45deg);
            }
        }

        .panel-body{
            margin-top: 2rem;
            padding: 0 1rem;

            .form-group{
                border: .1rem solid #aaa;
                width: 100%;
                padding: 1.3rem 0;
                display: flex;
                background: #fff;
                align-items: center;
                border-radius: 5rem;
                font-size: 1.3rem;

                i{
                    padding-left: 1.5rem;
                    font-size: 1.7rem;
                }

                .form-control{
                    width: 100%;
                    margin: 0 1.5rem;
                }
            }
        }

        .pding-top{
            border: .1rem solid #aaa;
            margin-top: 2rem;
            width: 100%;
            padding: 1.3rem 0;
            display: flex;
            background: #fff;
            align-items: center;
            border-radius: 5rem;
            font-size: 1.3rem;

            i{
                padding-left: 1.5rem;
                font-size: 1.7rem;
            }

            .form-control{
                width: 100%;
                margin: 0 1.5rem;
            }
        }

        .submit{

            .primary-key{
                font-size: 1.5rem;
                margin-top: 3rem;
                padding: 1rem 2.5rem;
                border-radius: 5rem;
                cursor: pointer;
                background: #6E8A3C;
                color: #fff;

                &:hover{
                    letter-spacing: 0.2rem;
                }
            }
        }
    }
}

// login account 2
.login-account2{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    // min-height: 100vh;
    display: flex;
    visibility: hidden;
    opacity: 0;
    z-index: 1 !important;

    &.active{
        visibility: visible;
        animation: fadeDown ease .3s;
        opacity: 1;
    }

    .box-container2{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        width: 70rem;
        height: 30rem;
        background: rgba(138,138, 138, .2);
        text-align: center;
        border-radius: 1rem;

        .icon-btn2{
            cursor: pointer;
            position: absolute;
            top: .5rem;
            right: 1rem;
            font-size: 2rem;
            color: #fff;
            padding: 1.5rem;
            z-index: 1;
        }

        .text{
            text-transform: uppercase;
            font-size: 2.2rem;
            padding-top: 3rem;
            color: #fff;
            position: relative;

            // &::before{
            //     content: "";
            //     position: absolute;
            //     bottom: 5rem;
            //     left: 5rem;
            //     height: 3rem;
            //     width: 4rem;
            //     background: #fff;
            //     transform: rotate(45deg);
            // }
        }

        .panel-body2{
            margin-top: 2rem;
            padding: 0 1rem;

            .form-group2{
                border: .1rem solid #aaa;
                width: 100%;
                padding: 1.3rem 0;
                display: flex;
                background: #fff;
                align-items: center;
                border-radius: 5rem;
                font-size: 1.3rem;

                i{
                    padding-left: 1.5rem;
                    font-size: 1.7rem;
                }

                .form-control2{
                    width: 100%;
                    margin: 0 1.5rem;
                }
            }
        }

        .pding-top2{
            border: .1rem solid #aaa;
            margin-top: 2rem;
            width: 100%;
            padding: 1.3rem 0;
            display: flex;
            background: #fff;
            align-items: center;
            border-radius: 5rem;
            font-size: 1.3rem;

            i{
                padding-left: 1.5rem;
                font-size: 1.7rem;
            }

            .form-control2{
                width: 100%;
                margin: 0 1.5rem;
            }
        }

        .submit2{

            .primary-key2{
                font-size: 1.5rem;
                margin-top: 3rem;
                padding: 1rem 2.5rem;
                border-radius: 5rem;
                cursor: pointer;
                background: #6E8A3C;
                color: #fff;

                &:hover{
                    letter-spacing: 0.2rem;
                }
            }
        }
    }
}
// end


// responsive
@media (max-width:1070px){

        .search-form{
            width: 90%;

            input{
                width: 100%
            }

            .account-2{
                display: flex;
            }
            
            .icons{
                display: flex;
            }
        }

        .navbar{
            display: none;
        }

    // account-login 2
    .login-account2{

        .box-container2{
            width: 90%;
            
        }
    }       
}